<!-- <p>web-builder works!</p> -->

<a href="product/web-builder/category/blank" class="page-preview">
    <figure>
        <img src="/assets/media/blank_page.png" alt="blank">
        <figcaption>
            blank
        </figcaption>
    </figure>
</a>

<a href="product/web-builder/category/demo" class="page-preview">
    <figure>
        <img src="/assets/media/demo_page.png" alt="demo">
        <figcaption>
            demo
        </figcaption>
    </figure>
</a>

<!-- <wbuilder></wbuilder> -->