@import '/src/styles';

#pf-web-builder {
   height: 0;
   overflow: hidden;
}

.menu {
   float: right;
   width: 50%;
}

.menu-item {
   float: right;
   font-size: 15px;
   color: #eee;
   width: 130px;
   padding: 10px;
   min-height: 50px;
   text-align: center;
   line-height: 30px;
   font-weight: 400;
}