/*     Color     */
$white: #fff;
$blue: #00F;
$black: #000;
$main-color-1: #E0E3DA;
$main-color-2: #FFFFF3;
$main-color-3: #A593E0;
$main-color-4: #566270;

/*     Font     */
$font-1: sans-serif;
$font-2: arial;

/*     Time     */
$menu-transition-time: 0.3s;

body {
    margin: 0;
    font-family: $font-1;
}